@import "mixins";
@import "variables";
@import "keyframes";
@import "extensions";

.footer__layout {
    @include footer;
  
    .footer__title {
      font-family: Shrikhand !important;
      padding: $padding-title__footer;
    }
    a {
      color: $white;
    }
    li {
      padding-top: $padd;
    }
    .footer__list {
      list-style: none;
      margin: 0;
      padding-bottom: $padd;
      padding-left: $padd;
    }
  }