


.header-menu {
  @extend %flex-center;

  .header__logo__menu {
    display: block;
    width: 40%;
    margin: 3% 20%;
  }
}

.header__logo {
    display: block;
    width: 50%;
    margin: 3% 26%;
  }