@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes unveiling {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes unveiling-2 {
  0% {
    opacity: 0;
  }
 30%{
   opacity: 0;
 }

 50%{
   opacity: 0.3;
 }

 70%{
   opacity: 0.6;
 }

90%{
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}




@keyframes set-up-1 {
  from {
    transform: translateY(30px);
  }

  to {
    transform: transformY(0);
  }
}

