$color__primary: #9356dc;
$color__secondary: #ff79da;
$color__tertiary: #99e2d0;
$darken__background: hsl(0, 0%, 95%);
$localisation__background__color: hsla(283, 6%, 77%, 0.411);
$color-functionning__list--hover: hsla(267, 66%, 60%, 0.274);
$color__text-new: hsl(165, 47%, 25%);

$gradient-color: #ff7ad9, #9256dc;
$gradient-color-hover: hsla(317, 100%, 78%, 0.993), hsl(267, 72%, 60%);

$bold-font: 600;
$white: white;

$bottom__omber: 2px 2px 7px #aaa;
$bottom__omber-hover: 6px 6px 10px #aaa;

$padd: 15px;
$padding-button__order: 15px 45px;
$icon__padd: 0 20px;
$localisation__padd: 3% 2%;
$padding-side: 5%;
$padding-menu-title: 0 10%;
$padding-left-card__cartel: 15px;
$padding-top-bottom: 15px 0;
$padding-bottom: 19px;
$padding-title: 15px 0 5px 0;
$padding-title__footer: 15px 0 0 15px;
$padding-big: 50px 40px 0 40px;
$padding-heart: 15px 5% 0 0;
$margin-center: 50%;
$margin-contact: 20%;

$space-between-column: 20px;

$discover__button__radius: 45px;
$radius: 15px;
$new-radius: 5px;

$icon__little-width: 10px;
$icon__big-width: 42px;
$icon__big-height: 45px;
$icon__functionning-width: 15px;
$icon__return: 22px;
$img__width: 100%;
$img__height: 326px;
$heart-width: 33px;
