@import "mixins";
@import "variables";
@import "keyframes";
@import "extensions";
@import "icon";
@import "media_query";
@import "research";
@import "functionning";
@import "home-restaurants";
@import "footer";
@import "header";
@import "menu";
@import "contact";



body {
  margin: 0;
  font-family: "Roboto";
}

a {
  @extend %neutral-link;
}

ul {
  list-style: none;
}

h3 {
  margin: 0;
}

















  
