@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes unveiling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes unveiling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes set-up {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    -webkit-transform: transformY(0);
            transform: transformY(0);
  }
}

@keyframes set-up {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    -webkit-transform: transformY(0);
            transform: transformY(0);
  }
}

.research .localisation .localisation__bar {
  font-family: 'Roboto';
}

.footer__layout .footer__title, .menu .menu__title {
  font-family: 'Shrikhand';
}

.functionning, #home-restaurants {
  padding: 5%;
}

.menu .title__menu__layout {
  padding: 0 10%;
}

.menu .menu__part__choice {
  padding: 15px 0;
}

#home-restaurants .card, .align-contact .align .contact {
  background-color: white;
}

.research .discover, .functionning .functionning__list .functionning__list__li, #home-restaurants, .main__contact, .align-contact .align, .menu {
  background-color: #f2f2f2;
}

.heart-container .fa-regular:before, .heart-container .fa-solid:before, .title__menu__layout .fa-regular:before, .title__menu__layout .fa-solid:before, .menu .title__menu__layout .fa-regular::before {
  font-size: 33px;
}

#home-restaurants .card .new, .menu .menu__part__title {
  color: #225e4f;
}

.align-contact .align .contact, .menu .price {
  font-weight: bold;
  padding-right: 15px;
}

.functionning .functionning__list .functionning__list__li, .align-contact .align .contact, .menu .menu__part__choice {
  -webkit-box-shadow: 2px 2px 7px #aaa;
          box-shadow: 2px 2px 7px #aaa;
  padding: 15px;
  border-radius: 15px;
}

a, .functionning .functionning__list .functionning__list__li {
  text-decoration: none;
  color: black;
}

.heart-container .fa-regular:before, .heart-container .fa-solid:before, .title__menu__layout .fa-regular:before, .title__menu__layout .fa-solid:before, .research .discover .discover__button, .menu .center .button__order {
  cursor: pointer;
}

.fa-mobile-screen-button, .fa-list, .fa-store {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.functionning .functionning__list .functionning__list__li, .functionning .functionning__list .functionning__list__li:hover {
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.fa-location-dot, .card__png__ {
  width: 10px;
  padding: 0 20px;
}

.menu .menu__part__choice {
  margin: 15px 0;
}

#home-restaurants .card .card__img, .menu {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.research .discover .discover__button, .menu .center .button__order {
  border-radius: 45px;
  -webkit-box-shadow: 2px 2px 7px #aaa;
          box-shadow: 2px 2px 7px #aaa;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7ad9), to(#9256dc));
  background: linear-gradient(#ff7ad9, #9256dc);
  color: white;
  cursor: pointer;
  font-size: 1em;
}

#home-restaurants .card {
  position: relative;
}

#home-restaurants .card .card__img, .menu__img {
  width: 100%;
}

.research .localisation, .functionning .functionning__list li:before, .header-menu, .menu .menu__part__choice .around-checkbox, .menu .center, .menu .center .button__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functionning .functionning__list .functionning__list__li:hover {
  background-color: rgba(146, 86, 220, 0.274);
}

.space-card, .menu .menu__part__choice, .menu .menu__part__choice .glue, .menu .menu__part__choice .fa-circle-check::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.research .discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rows, .menu .title__menu__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-mobile-screen-button, .fa-list, .fa-store {
  width: 15px;
  padding: 0 20px;
}

.space-between, .menu .menu__part__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-utensils, .fa-handshake-angle {
  width: 15px;
  padding-right: 15px;
}

.space-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.research .discover .discover__button:hover, .menu .center .button__order:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 143, 223, 0.993)), to(#9250e2));
  background: linear-gradient(rgba(255, 143, 223, 0.993), #9250e2);
}

.research .discover .discover__button:hover, .menu .center .button__order:hover {
  -webkit-box-shadow: 6px 6px 10px #aaa;
          box-shadow: 6px 6px 10px #aaa;
}

.menu .menu__part__choice, .menu .menu__part__choice .overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__png__like {
  width: 42px;
  height: 45px;
  padding: 15px 5% 0 0;
}

.card__png__menu__like {
  width: 42px;
  padding: 0 20px;
}

.fa-arrow-left::before {
  font-size: 2rem;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.main__menu {
  background-color: #f2f2f2;
}

ul {
  list-style: none;
}

h3 {
  margin: 0;
}

.heart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
  height: 46px;
}

.heart-container .fa-regular:before {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: 20px;
  right: 35px;
}

.heart-container .fa-solid:before {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: 20px;
  right: 35px;
}

.title__menu__layout .fa-regular:before {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: 8px;
  right: 35px;
}

.title__menu__layout .fa-solid:before {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: 23px;
  right: 50px;
}

.header__logo {
  display: block;
  width: 50%;
  margin: 3% 26%;
}

.space-card {
  height: 46px;
}

.research .localisation {
  -webkit-box-shadow: 0px -1px 5px #aaa;
          box-shadow: 0px -1px 5px #aaa;
  background-color: rgba(198, 193, 200, 0.411);
}

.research .localisation .localisation__bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 3% 2%;
  font-size: 1em;
}

.research .localisation ::-webkit-input-placeholder {
  color: black;
}

.research .localisation :-ms-input-placeholder {
  color: black;
}

.research .localisation ::-ms-input-placeholder {
  color: black;
}

.research .localisation ::placeholder {
  color: black;
}

.research .discover {
  padding-bottom: 10%;
}

.research .discover h1 {
  font-size: 1.5em;
  margin-top: 10%;
  text-align: center;
}

.research .discover p {
  text-align: center;
  margin-bottom: 8%;
}

.research .discover .discover__button {
  padding: 15px;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.functionning .functionning__list {
  margin: 50px 0;
  position: relative;
  list-style-type: none;
  counter-reset: list;
}

.functionning .functionning__list li:before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 40px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 80%;
  background-color: #9356DC;
}

.functionning .functionning__list .functionning__list__li {
  margin: 20px;
  font-size: 1em;
  font-weight: 600;
}

.functionning .functionning__list .functionning__list__li .layout-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functionning .functionning__list .functionning__list__li:hover {
  background-color: rgba(146, 86, 220, 0.274);
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.functionning .functionning__list .functionning__list__li:hover .fa-list, .functionning .functionning__list .functionning__list__li:hover .fa-mobile-screen-button, .functionning .functionning__list .functionning__list__li:hover .fa-store {
  color: #9356DC;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

#home-restaurants .card {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 50px 0;
}

#home-restaurants .card .card__img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#home-restaurants .card .new {
  background-color: #99E2D0;
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  bottom: 83%;
  right: 3%;
  text-align: center;
  text-overflow: ellipsis;
}

#home-restaurants .card .card__cartel {
  margin-left: 15px;
  border-radius: 15px;
}

#home-restaurants .card .card__cartel .space-card :hover .fa-regular::before {
  opacity: 0;
}

#home-restaurants .card .card__cartel .space-card :hover .fa-solid::before {
  visibility: visible;
  opacity: 1;
}

#home-restaurants .card .card__city {
  padding-bottom: 19px;
}

.footer__layout {
  background-color: #322f2f;
  color: white;
  padding: 19px;
}

.footer__layout .footer__title {
  padding: 15px 0 0 15px;
}

.footer__layout a {
  color: white;
}

.footer__layout li {
  padding-top: 15px;
}

.footer__layout .footer__list {
  list-style: none;
  margin: 0;
  padding-bottom: 15px;
  padding-left: 15px;
}

.align-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 8%;
}

.align-contact .title-contact {
  text-align: justify;
  margin-bottom: 0;
}

.align-contact .align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-contact .align .contact-line {
  border-bottom: solid 3px #99E2D0;
  width: 52px;
}

.align-contact .align .contact {
  width: 70%;
  margin: 10% 10% 10% 0;
  color: #9356DC;
  padding: 0 !important;
}

.align-contact .align .contact .arobase {
  padding-left: 15px;
  font-size: 25px;
}

.align-contact .align .contact .contact__bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 3% 2%;
  font-size: 1em;
  width: 75%;
}

.header-menu .header__logo__menu {
  display: block;
  width: 40%;
  margin: 3% 20%;
}

.menu__img {
  height: 326px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  object-fit: cover;
}

.menu {
  position: relative;
  bottom: 70px;
}

.menu .title__menu__layout .fa-regular::before {
  padding: 15px;
}

.menu .title__menu__layout :hover .fa-regular::before {
  opacity: 0;
}

.menu .title__menu__layout :hover .fa-solid::before {
  visibility: visible;
  opacity: 1;
}

.menu .menu__part {
  padding: 0 20px;
  margin: 0;
  -webkit-animation: 10s set-up;
          animation: 10s set-up;
}

.menu .entree, .menu .meal, .menu .dessert {
  -webkit-animation: 10s unveiling;
          animation: 10s unveiling;
}

.menu .menu__part__title {
  font-weight: 400;
}

.menu .line {
  border-bottom: solid 3px #99E2D0;
  width: 45px;
}

.menu .menu__part__choice {
  background-color: white;
  padding: 0 0 0 15px;
}

.menu .menu__part__choice .column {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu .menu__part__choice h3 {
  padding: 0 0 5px 0;
}

.menu .menu__part__choice:hover .around-checkbox {
  width: 70px;
}

.menu .menu__part__choice:hover .fa-circle-check::before {
  -webkit-animation: rotate 0.5s;
          animation: rotate 0.5s;
}

.menu .menu__part__choice .glue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .menu__part__choice .around-checkbox {
  background-color: #99E2D0;
  width: 70px;
  height: 77px;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow: hidden;
}

.menu .menu__part__choice .fa-circle-check::before {
  background-color: #99E2D0;
  font-size: 25px;
  color: white;
  -webkit-transition: -webkit-transform 0.5s ease-out 0.1s;
  transition: -webkit-transform 0.5s ease-out 0.1s;
  transition: transform 0.5s ease-out 0.1s;
  transition: transform 0.5s ease-out 0.1s, -webkit-transform 0.5s ease-out 0.1s;
}

.menu .center {
  padding: 50px 40px 0 40px;
}

.menu .center .button__order {
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  padding: 15px 45px;
}

.menu .center .button__order:hover {
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  -webkit-transition: background 2s;
  transition: background 2s;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .header__logo {
    width: 25%;
    margin: 3%;
  }
  .research {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover {
    padding-bottom: 3% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  .localisation__bar {
    padding: 15px !important;
  }
  .display-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2f2f2;
    padding-bottom: 5%;
  }
  h1 {
    margin-top: 0 !important;
    font-size: 2.3rem;
    padding-top: 5%;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 3% !important;
  }
  .line-restaurants-desk {
    border-bottom: solid 3px #99E2D0 !important;
    position: absolute;
    width: 203px !important;
    left: 55%;
  }
  .line-fonctionnement-desk {
    border-bottom: solid 3px #99E2D0 !important;
    position: absolute;
    width: 265px !important;
  }
  .functionning {
    padding: 2% !important;
    background-color: #f2f2f2;
  }
  .functionning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 15px 0 10px 0 !important;
    padding-left: 0;
  }
  .functionning__list .functionning__list__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white !important;
  }
  .functionning__list .functionning__list__li::before {
    position: relative !important;
    left: 0 !important;
  }
  .restaurant-title {
    padding-top: 18px;
    text-align: center;
  }
  .card {
    margin: 35px 0 0 0 !important;
    width: 94% !important;
  }
  .new {
    padding: 6px !important;
  }
  #home-restaurants {
    padding: 2%;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    width: 97%;
    gap: 3%;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    width: 25%;
    margin: 3% 38%;
  }
  .research {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover {
    padding-bottom: 3% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .localisation__bar {
    padding: 15px !important;
  }
  h1 {
    margin-top: 0 !important;
    font-size: 2.3rem;
    padding-top: 2%;
    text-align: center;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 3% !important;
  }
  .line-restaurants-desk {
    border-bottom: solid 3px #99E2D0 !important;
    width: 203px !important;
  }
  .line-fonctionnement-desk {
    border-bottom: solid 3px #99E2D0 !important;
    width: 265px !important;
  }
  .align-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .functionning {
    padding: 2% !important;
    background-color: #f2f2f2 !important;
  }
  .functionning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 15px 0 10px 0 !important;
  }
  .functionning__list .functionning__list__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .functionning__list .functionning__list__li::before {
    position: relative !important;
    left: 0 !important;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    margin-top: 18px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    width: 103%;
    row-gap: 3%;
    -webkit-column-gap: 0%;
            column-gap: 0%;
  }
  .card {
    margin: 20px 0 0 0 !important;
    width: 90% !important;
  }
  #home-restaurants {
    padding: 2% 5% 10% 5% !important;
  }
}
/*# sourceMappingURL=index.css.map */