.research .localisation .localisation__bar {
  font-family: 'Roboto';
}

.footer__layout .footer__title, .menu .menu__title {
  font-family: 'Shrikhand';
}

.functionning, #home-restaurants {
  padding: 5%;
}

.menu .menu__part__choice {
  padding: 15px 0;
}

#home-restaurants .card {
  background-color: white;
}

.research .discover, .functionning .functionning__list .functionning__list__li, #home-restaurants, .menu {
  background-color: #f2f2f2;
}

#home-restaurants .card .new, .menu .menu__part__title {
  color: #225e4f;
}

.menu .price {
  font-weight: bold;
  padding-right: 15px;
}

.functionning .functionning__list .functionning__list__li, .menu .menu__part__choice {
  -webkit-box-shadow: 2px 2px 7px #aaa;
          box-shadow: 2px 2px 7px #aaa;
  padding: 15px;
  border-radius: 15px;
}

a, .functionning .functionning__list .functionning__list__li {
  text-decoration: none;
  color: black;
}

.functionning .functionning__list .functionning__list__li:hover {
  -webkit-transition: background 1s;
  transition: background 1s;
}

.functionning .functionning__list .functionning__list__li:hover .functionning__list__png, .functionning .functionning__list .functionning__list__li:hover .functionning__list__png--hover {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.localisation__png, .card__png__ {
  width: 10px;
  padding: 0 20px;
}

.menu .menu__part__choice {
  margin: 15px 0;
}

#home-restaurants .card .card__img, .menu {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.research .discover .discover__button, .menu .center .button__order {
  border-radius: 45px;
  -webkit-box-shadow: 2px 2px 7px #aaa;
          box-shadow: 2px 2px 7px #aaa;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7ad9), to(#9256dc));
  background: linear-gradient(#ff7ad9, #9256dc);
  color: white;
  cursor: pointer;
  font-size: 1em;
}

#home-restaurants .card {
  position: relative;
}

#home-restaurants .card .card__img, .menu__img {
  width: 100%;
}

.research .localisation, .functionning .functionning__list li:before, .header-menu, .menu .title__menu__layout, .menu .menu__part__choice .around-checkbox, .menu .center, .menu .center .button__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-card, .menu .menu__part__choice, .menu .menu__part__choice .glue, .menu .menu__part__choice .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.research .discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between, .menu .menu__part__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.research .discover .discover__button:hover, .menu .center .button__order:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 143, 223, 0.993)), to(#9250e2));
  background: linear-gradient(rgba(255, 143, 223, 0.993), #9250e2);
}

.research .discover .discover__button:hover, .menu .center .button__order:hover {
  -webkit-box-shadow: 6px 6px 10px #aaa;
          box-shadow: 6px 6px 10px #aaa;
}

.menu .menu__part__choice, .menu .menu__part__choice .overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.functionning__list__png {
  width: 15px;
  padding: 0 20px;
  position: absolute;
}

.functionning__list__png--hover {
  width: 15px;
  padding: 0 20px;
}

.card__png__like {
  width: 42px;
  height: 45px;
  padding: 15px 5% 0 0;
}

.card__png__menu__like {
  width: 42px;
  padding: 0 20px;
}

.footer__png {
  width: 15px;
  padding-right: 15px;
}

.png__return {
  width: 22px;
  padding: 15px;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.main__menu {
  background-color: #f2f2f2;
}

ul {
  list-style: none;
}

h3 {
  margin: 0;
}

.heart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
  height: 46px;
}

.like__button {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}

.like__button--hover {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}

.header__logo {
  display: block;
  width: 50%;
  margin: 3% 26%;
}

.space-card {
  height: 46px;
}

.research .localisation {
  -webkit-box-shadow: 0px -1px 5px #aaa;
          box-shadow: 0px -1px 5px #aaa;
  background-color: rgba(198, 193, 200, 0.411);
}

.research .localisation .localisation__bar {
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding: 3% 2%;
  font-size: 1em;
}

.research .localisation ::-webkit-input-placeholder {
  color: black;
}

.research .localisation :-ms-input-placeholder {
  color: black;
}

.research .localisation ::-ms-input-placeholder {
  color: black;
}

.research .localisation ::placeholder {
  color: black;
}

.research .discover {
  padding-bottom: 10%;
}

.research .discover h1 {
  font-size: 1.5em;
  margin-top: 10%;
  text-align: center;
}

.research .discover p {
  text-align: center;
  margin-bottom: 8%;
}

.research .discover .discover__button {
  padding: 15px;
}

.research .discover .discover__button:hover {
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.functionning .functionning__list {
  margin: 50px 0;
  list-style-type: none;
  counter-reset: list;
}

.functionning .functionning__list li:before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 85px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 80%;
  background-color: #9356DC;
}

.functionning .functionning__list .functionning__list__li {
  margin: 20px;
  font-size: 1em;
  font-weight: 600;
}

.functionning .functionning__list .functionning__list__li:hover {
  background-color: rgba(146, 86, 220, 0.274);
}

.functionning .functionning__list .functionning__list__li:hover .functionning__list__png {
  opacity: 0;
}

.functionning .functionning__list .functionning__list__li:hover .functionning__list__png--hover {
  opacity: 1;
}

#home-restaurants .card {
  border-radius: 15px;
  margin: 50px 0;
}

#home-restaurants .card :hover .like__button {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#home-restaurants .card :hover .like__button--hover {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

#home-restaurants .card .card__img {
  height: 326px;
  -o-object-fit: cover;
     object-fit: cover;
}

#home-restaurants .card .new {
  background-color: #99E2D0;
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  bottom: 83%;
  right: 3%;
  text-align: center;
  text-overflow: ellipsis;
}

#home-restaurants .card .card__cartel {
  margin-left: 15px;
  border-radius: 15px;
}

#home-restaurants .card .card__city {
  padding-bottom: 19px;
}

.footer__layout {
  background-color: #322f2f;
  color: white;
  padding: 19px;
}

.footer__layout .footer__title {
  padding: 15px 0 0 15px;
}

.footer__layout a {
  color: white;
}

.footer__layout li {
  padding-top: 15px;
}

.footer__layout .footer__list {
  list-style: none;
  margin: 0;
  padding-bottom: 15px;
  padding-left: 15px;
}

.header-menu .header__logo__menu {
  display: block;
  width: 40%;
  margin: 3% 20%;
}

.menu__img {
  height: 326px;
  position: relative;
}

.menu {
  position: relative;
  bottom: 70px;
}

.menu .menu__part {
  padding: 0 20px;
  margin: 0;
}

.menu .menu__part__title {
  font-weight: 400;
}

.menu .line {
  border-bottom: solid 3px #99E2D0;
  width: 45px;
}

.menu .menu__part__choice {
  background-color: white;
  padding: 0 0 0 15px;
}

.menu .menu__part__choice h3 {
  padding: 0 0 5px 0;
}

.menu .menu__part__choice:hover .around-checkbox {
  width: 70px;
}

.menu .menu__part__choice:hover .checkbox {
  -webkit-animation: rotate 0.5s;
          animation: rotate 0.5s;
}

.menu .menu__part__choice .glue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .menu__part__choice .around-checkbox {
  background-color: #99E2D0;
  width: 70px;
  height: 77px;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.menu .menu__part__choice .checkbox {
  background-color: #99E2D0;
  width: 35%;
  height: 30%;
  -webkit-transition: -webkit-transform 0.5s ease-out 0.1s;
  transition: -webkit-transform 0.5s ease-out 0.1s;
  transition: transform 0.5s ease-out 0.1s;
  transition: transform 0.5s ease-out 0.1s, -webkit-transform 0.5s ease-out 0.1s;
}

.menu .center {
  padding: 50px 40px 0 40px;
}

.menu .center .button__order {
  padding: 15px 45px;
}
/*# sourceMappingURL=index.css.map */